corpus/
word_embeddings/
__pycache__/
data/
debug/
entity_fetcher.py
*test.py
dump/
result_eval.py
test.sh
diff.*
src_backup/
lab_script/
*results/
stat/
exec/old/
log/
cloc-1.80.exe
!scripts/*Train*
!scripts/*Test*
.pyc
.idea/
models/
cloc.exe
datastat/
kb_ref/
scores/
analysis/
